body * {
    color: white;
    margin: 0px auto;
    text-align: center;
}

h1 {
    font-size: 75px;
}

body {
    background-color: rgb(20,20,20);
    margin-top: 25px;
}

img {
    width: 250px;
    height: auto;
}

.image-container {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 25px;
}

.selected-image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(20,20,20);
    overflow: hidden;
    margin: 0px;
}

.selected-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

.exit-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.3);
    background-image: url('../public/closeIcon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 0px;
}

.button-hover {
    transition: 0.3s;
}

.button-hover:hover {
    transform:scale(1.05);
}

.next-button {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.3);
    background-image: url('/public/next.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 0px;
}
.previous-button {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.3);
    background-image: url('/public/prev.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 25px;
    border: 0px;
}
.open-burger-menu-button {
    position: absolute;
    top: 5px;
    right: 75px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.3);
    background-image: url('/public/burger-menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 0px;
}

.burger-menu {
    position: absolute;
    background-color: white;
    top: 60px;
    right: 75px;
    border-radius: 2px;
    padding: 10px;
}

.burger-menu * {
    text-align: left;
    color: black;
}